*copy.cs
InputData/*cache.csv
OutputData/*.csv
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.sln.iml
.vscode/
*.nupkg
*.snupkg
*.nuspec
packages/
*.nuget.props
.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/
[Tt]est[Rr]esult/
[Bb]uild[Ll]og.*
_ReSharper*/
*.resharper
*.DotSettings.user
*.swp
*.tmp
*.bak
*.cache
*.log
publish/